<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./includes/nav.ejs') %>
  </head>
  <body>
    <main class="main">
      <h1 class="heading">Bookmark Your Favourite Sites</h1>

      <form action="/signup" method="POST" class="form">
        <h2 class="form__heading">Signup</h2>

        <div class="form__control">
          <input
            type="text"
            placeholder="Name..."
            class="form__input"
            name="name"
          />
        </div>

        <div class="form__control">
          <input
            type="email"
            placeholder="Email..."
            class="form__input"
            name="email"
          />
        </div>

        <div class="form__control">
          <input
            type="password"
            placeholder="Password..."
            class="form__input"
            name="password"
          />
        </div>

        <div class="form__control">
          <input
            type="password"
            placeholder="Confirm Password..."
            class="form__input"
            name="confirmPassword"
          />
        </div>

        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

        <button class="btn">Signup</button>
      </form>
    </main>
  </body>
</html>
